*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --celestial-body-size: 5rem;
    --emoji-font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
    --heading-font: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --body-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --light-text: #f5f5f5;
    --dark-text: #111;
    --light-background: linear-gradient(#3082c5, #61a4db 75%, #6daadd 90%, #00a064 90%);
    --dark-background: linear-gradient(#051522, #0d2941 75%, #1c3144 90%, #065035 90%);
    --short-transition: .25s;
    --medium-transition: .5s;
    --long-transition: .75s;
    --transition-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--light-background);
        --heading-color: var(--dark-text);
        --body-color: var(--dark-text);
    }

    .sun {
        animation-name: bounce-in-down;
    }

    .moon {
        animation-name: bounce-out-up;
    }

    .color-scheme-toggle:checked ~ main {
        --background: var(--dark-background);
    }

    .color-scheme-toggle:checked ~ main header {
        --heading-color: var(--light-text);
        --body-color: var(--light-text);
    }

    .color-scheme-toggle + label span:first-child {
        display: none;
    }

    .color-scheme-toggle:checked + label span:first-child {
        display: block;
    }

    .color-scheme-toggle:checked + label span:last-child {
        display: none;
    }

    .color-scheme-toggle:checked ~ main .sun {
        animation-name: bounce-out-up;
    }

    .color-scheme-toggle:checked ~ main .moon {
        animation-name: bounce-in-down;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--dark-background);
        --heading-color: var(--light-text);
        --body-color: var(--light-text);
    }

    .sun {
        animation-name: bounce-out-up;
    }

    .moon {
        animation-name: bounce-in-down;
    }

    .color-scheme-toggle:checked ~ main {
        --background: var(--light-background);
    }

    .color-scheme-toggle:checked ~ main header {
        --heading-color: var(--dark-text);
        --body-color: var(--dark-text);
    }

    .color-scheme-toggle + label span:last-child {
        display: none;
    }

    .color-scheme-toggle:checked + label span:first-child {
        display: none;
    }

    .color-scheme-toggle:checked + label span:last-child {
        display: block;
    }

    .color-scheme-toggle:checked ~ main .sun {
        animation-name: bounce-in-down;
    }

    .color-scheme-toggle:checked ~ main .moon {
        animation-name: bounce-out-up;
    }
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    overscroll-behavior-y: none;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.color-scheme-toggle {
    display: none;
    visibility: hidden;
}

.color-scheme-toggle + label {
    position: absolute;
    top: 1rem;
    left: 50%;
    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
    animation: heartbeat 1s ease-in-out 5s both;
    transition: font-size var(--short-transition) var(--transition-easing);
    transform: translateX(-50%);
}

.color-scheme-toggle + label:hover {
    font-size: 1.5rem;
    animation-play-state: paused;
}


main {
    height: 100%;
    padding: 1rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    justify-items: center;
    background-image: var(--background);
    transition: background-image 1s cubic-bezier(0.0, 0.0, 0.2, 1) .25s;
}

.sky {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sun {
    margin-left: 1rem;
    place-self: start;
}

.moon {
    margin-right: 1rem;
    place-self: end;
}

.sun,
.moon {
    position: relative;
    margin-top: 1rem;
    display: block;
    animation-duration: var(--long-transition);
    animation-fill-mode: both;
}

.sun::before,
.moon::before {
    font-family: var(--emoji-font-family);
    font-size: var(--celestial-body-size);
}

.sun::before {
    content: "☀";
}

.moon::before {
    content: "🌕";
}

header {
    display: grid;
    place-items: center;
    justify-items: center;
    animation: make-an-entrance .75s cubic-bezier(0.0, 0.0, 0.2, 1) .25s both;
    transition: color var(--medium-transition) var(--transition-easing);
}

header h1 {
    margin-top: -5rem;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 3rem;
    text-align: center;
}

header span {
    color: var(--body-color);
    font-family: var(--body-font);
    font-size: 1.1rem;
    font-style: italic;
}

@keyframes bounce-out-up {
    /* http://daneden.github.io/animate.css */

    20% {
        transform: translate3d(0, -10px, 0);
    }

    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, 20px, 0);
    }

    to {
        opacity: 0;
        transform: translate3d(0, -2000px, 0);
    }
}

@keyframes bounce-in-down {
    /* http://daneden.github.io/animate.css */

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
    opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes heartbeat {
    /* http://daneden.github.io/animate.css */
    0% {
        transform: scale(1) translateX(-50%);
    }

    14% {
        transform: scale(1.3) translateX(-50%);
    }

    28% {
        transform: scale(1) translateX(-50%);
    }

    42% {
        transform: scale(1.3) translateX(-50%);
    }

    70% {
        transform: scale(1) translateX(-50%);
    }
}

@keyframes make-an-entrance {
    from {
        opacity: .1;
        transform: scale(.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}