*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --emoji-font-family: "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
    --heading-font: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --body-font: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@view-transition {
  navigation: auto;
}

::view-transition-new(root) {
  animation: 0.3s ease-in both make-an-entrance;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    overscroll-behavior-y: none;
    background-color: oklch(19% 0% 68deg);
}

main {
    height: 100%;
    padding: 1rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    place-items: center;
    justify-items: center;
}

header {
    display: grid;
    place-items: center;
    justify-items: center;
}

@keyframes make-an-entrance {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}